<!doctype html>
<html data-ng-app="main" lang="en">
<head>
  <title>Countdown Timer - Stopwatch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="countdown,count down,timer,stopwatch,stop watch" />
  <meta name="description" content="Countdown to any date and time. Use stopwatch to measure elapsed time" />
  <link rel="stylesheet" type="text/css" href="./lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/countdown.min.css" />
  <link rel="stylesheet" type="text/css" href="css/stopwatch.min.css" />
</head>
<body>
  <!-- Navigation header -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#adminMenu">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="adminMenu">
        <ul class="nav navbar-nav">
          <li>
            <a href="#/">Countdown</a>
          </li>
          <li>
            <a href="#/stopwatch">Stopwatch</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ng-view></ng-view>
  
  <script src="./lib/jquery/jquery.min.js"></script>
  <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="./lib/angular/angular.min.js"></script>
  <script src="./lib/angular/angular-route.min.js"></script>
  <script src="./modules/countdown.min.js"></script>
</body>
</html>